## Which Plane is for you?

In [1]:
#Imported all basic DS libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as stats

In [2]:
#Imported original Data set into Jupyter Notebook
accident_df = pd.read_csv('C:\\Users\\Baumg\\Documents\\Flatiron\\Project_1\\DSC-Project1\\data\\AviationData.csv', encoding = 'mac_roman', low_memory = False)

In [3]:
#Checked original Dataframe
print(accident_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB
None

In [4]:
#Dropped several columns we deemed as not needed
accident_df = accident_df.drop(['Event.Id', 'Latitude', 'Longitude', 'Airport.Code', 'Injury.Severity', 'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Publication.Date'], axis=1)

In [5]:
print(accident_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      88889 non-null  object
 1   Accident.Number         88889 non-null  object
 2   Event.Date              88889 non-null  object
 3   Location                88837 non-null  object
 4   Country                 88663 non-null  object
 5   Airport.Name            52790 non-null  object
 6   Aircraft.damage         85695 non-null  object
 7   Aircraft.Category       32287 non-null  object
 8   Registration.Number     87572 non-null  object
 9   Make                    88826 non-null  object
 10  Model                   88797 non-null  object
 11  Amateur.Built           88787 non-null  object
 12  Number.of.Engines       82805 non-null  float64
 13  Engine.Type             81812 non-null  object
 14  FAR.Description         32023 non-null  object
 15  Total.Fatal.Injuries    77488 non-null  float64
 16  Total.Serious.Injuries  76379 non-null  float64
 17  Total.Minor.Injuries    76956 non-null  float64
 18  Total.Uninjured         82977 non-null  float64
 19  Weather.Condition       84397 non-null  object
 20  Broad.phase.of.flight   61724 non-null  object
 21  Report.Status           82508 non-null  object
dtypes: float64(5), object(17)
memory usage: 14.9+ MB
None

In [6]:
accident_df.isna().sum()

Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Airport.Name              36099
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
dtype: int64

In [7]:
#Converted Event.Date to datetime using a format for the year-month-day
accident_df['Event.Date'] = pd.to_datetime(accident_df['Event.Date'], format='%Y-%m-%d')

In [8]:
#Converted variables inside the following columns to full uppercase lettering
accident_df['Country'] = accident_df['Country'].str.upper()
accident_df['Report.Status'] = accident_df['Report.Status'].str.lower()
accident_df['Location'] = accident_df['Location'].str.upper()
accident_df['Make'] = accident_df['Make'].str.upper()
accident_df['Model'] = accident_df['Model'].str.upper()
accident_df['Airport.Name'] = accident_df['Airport.Name'].str.upper()

In [9]:
#Replaced all non-alphabeticals and non-numericals including spaces.
# ^ tells the code to look for anything that is not the specified set.
#In this case a-z, A-Z, and 0-9
accident_df['Make'] = accident_df['Make'].str.replace('[^a-zA-Z0-9]', '')
accident_df['Model'] = accident_df['Model'].str.replace('[^a-zA-Z0-9]', '')

In [10]:
#Removed all years before 1993 using the Event Date column using the 
#DateTime function in pandas with the .year to extract the years greater
#than or equal to 1993
accident_df = accident_df[accident_df['Event.Date'].dt.year >= 1993]

In [11]:
print(accident_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56863 entries, 32026 to 88888
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      56863 non-null  object
 1   Accident.Number         56863 non-null  object
 2   Event.Date              56863 non-null  datetime64[ns]
 3   Location                56822 non-null  object
 4   Country                 56790 non-null  object
 5   Airport.Name            34169 non-null  object
 6   Aircraft.damage         54365 non-null  object
 7   Aircraft.Category       28615 non-null  object
 8   Registration.Number     55568 non-null  object
 9   Make                    56807 non-null  object
 10  Model                   56791 non-null  object
 11  Amateur.Built           56762 non-null  object
 12  Number.of.Engines       51114 non-null  float64
 13  Engine.Type             49790 non-null  object
 14  FAR.Description         28351 non-null  object
 15  Total.Fatal.Injuries    45618 non-null  float64
 16  Total.Serious.Injuries  44554 non-null  float64
 17  Total.Minor.Injuries    45137 non-null  float64
 18  Total.Uninjured         51089 non-null  float64
 19  Weather.Condition       52374 non-null  object
 20  Broad.phase.of.flight   30012 non-null  object
 21  Report.Status           50482 non-null  object
dtypes: datetime64[ns](1), float64(5), object(16)
memory usage: 10.0+ MB
None

In [12]:
#Removed all Amateur Built aircrafts from our data set.
#~ means only the values the the = yes
amateur_built = accident_df['Amateur.Built'] == 'Yes'
accident_df = accident_df[~amateur_built]

In [13]:
#Kept only the Airplanes under Aircraft Category
accident_df = accident_df[accident_df['Aircraft.Category'] == 'Airplane']

In [14]:
#Dropped any NaN in Make and Model
accident_df.dropna(subset = ['Make', 'Model'], inplace = True)

In [15]:
#Dropped the Amateur Built colum
accident_df = accident_df.drop(['Amateur.Built'], axis=1)

In [16]:
#Cleaned up the cloumn names by replace the . with spaces
currentheaders = list(accident_df.columns.values)

accident_df.columns = [c.replace('.', ' ').title() for c in currentheaders]

In [17]:
print(accident_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21348 entries, 32592 to 88886
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation Type      21348 non-null  object
 1   Accident Number         21348 non-null  object
 2   Event Date              21348 non-null  datetime64[ns]
 3   Location                21341 non-null  object
 4   Country                 21347 non-null  object
 5   Airport Name            14043 non-null  object
 6   Aircraft Damage         20129 non-null  object
 7   Aircraft Category       21348 non-null  object
 8   Registration Number     21139 non-null  object
 9   Make                    21348 non-null  object
 10  Model                   21348 non-null  object
 11  Number Of Engines       18792 non-null  float64
 12  Engine Type             17395 non-null  object
 13  Far Description         20868 non-null  object
 14  Total Fatal Injuries    18639 non-null  float64
 15  Total Serious Injuries  18589 non-null  float64
 16  Total Minor Injuries    18870 non-null  float64
 17  Total Uninjured         20677 non-null  float64
 18  Weather Condition       18367 non-null  object
 19  Broad Phase Of Flight   2736 non-null   object
 20  Report Status           16695 non-null  object
dtypes: datetime64[ns](1), float64(5), object(15)
memory usage: 3.6+ MB
None

In [18]:
#Converted varies version of United States to UNTIED STATES
usa = []
for country in accident_df['Country'].values:
    if country == 'UNITED STATES':
        usa.append(country)
    elif country == 'USA':
        usa.append(country)
    elif country == 'US':
        usa.append(country)

values = set(usa)
values

{'UNITED STATES'}

In [19]:
#Kept only the UNITED STATES within the Country column
accident_df = accident_df[accident_df['Country'] == 'UNITED STATES']

In [20]:
#Dropped more columns we felt were not important to our data
accident_df = accident_df.drop(['Airport Name', 'Registration Number', 'Weather Condition', 'Country', 'Aircraft Category', 'Broad Phase Of Flight'], axis=1)

In [21]:
#Fill NaNs - Number of Engines with 1 (median/mode), 
#Fatal Injuries with 0 (intended input), 
#Serious Injuries with 0 (intended input), 
#Minor Injuries with 0 (intended input), and Uninjured with 1 
#(most common value and results in at least 1 passenger for each accident)

accident_df['Number Of Engines'] = accident_df['Number Of Engines'].fillna(1)
accident_df['Total Fatal Injuries'] = accident_df['Total Fatal Injuries'].fillna(0)
accident_df['Total Serious Injuries'] = accident_df['Total Serious Injuries'].fillna(0)
accident_df['Total Minor Injuries'] = accident_df['Total Minor Injuries'].fillna(0)
accident_df['Total Uninjured'] = accident_df['Total Uninjured'].fillna(0)

In [22]:
#Replace 'Unknown' values in Aircraft Damage with NaN
accident_df['Aircraft Damage'].replace('Unknown', np.nan, inplace = True)

In [23]:
#Assign scores to Aircraft Damage
    #Destroyed = 2, Substantial = 1, Minor = 0
accident_df['Aircraft Damage'].replace('Substantial', 1, inplace = True)
accident_df['Aircraft Damage'].replace('Destroyed', 2, inplace = True)
accident_df['Aircraft Damage'].replace('Minor', 0, inplace = True)

In [24]:
#Fill NaNs in Aircraft Damage with the mean score
mean_damage = accident_df['Aircraft Damage'].mean()
accident_df['Aircraft Damage'].fillna(mean_damage, inplace = True)

In [25]:
#Replaced all the varients of Part 91 to 91
accident_df['Far Description'].replace('091', 91, inplace = True)

accident_df['Far Description'].replace('Part 91: General Aviation', 91, inplace = True)

accident_df['Far Description'].replace('091K', 91, inplace = True)

accident_df['Far Description'].replace('Part 91 Subpart K: Fractional', 91, inplace = True)

accident_df = accident_df[accident_df['Far Description'] == 91]

In [26]:
#Create new column, Total Passengers, which combines the total number of people accounted for in a given data point
accident_df['Total Passengers'] = accident_df['Total Fatal Injuries'] + accident_df['Total Serious Injuries'] + accident_df['Total Minor Injuries'] + accident_df['Total Uninjured']
accident_df['Total Passengers'].replace(0, 1, inplace = True)

In [27]:
#Assign score multiplier to Investigation Type by assigning multiplier of 0.9 to Accidents and multiplier of 1 to Incidents
accident_df['Investigation Type Score'] = accident_df['Investigation Type']
accident_df['Investigation Type Score'] = accident_df['Investigation Type Score'].replace('Accident', 0.9)
accident_df['Investigation Type Score'] = accident_df['Investigation Type Score'].replace('Incident', 1)

In [28]:
#Assign score multiplier to fatalities and injuries by weighting Serious injuries as 2x as detrimental as Minor and Fatal injuries as 2x as detrimental as Serious
accident_df['Fatality Injury Score'] = 1 - (((8 * accident_df['Total Fatal Injuries']) + (4 * accident_df['Total Serious Injuries']) + (2 * accident_df['Total Minor Injuries']) + (0 * accident_df['Total Uninjured'])) / (14 * accident_df['Total Passengers']))

In [29]:
#Assign score multiplier to plane damage such that completely destroyed planes multiply safety score by 0.5, substantially damaged planes by 0.75, and planes with minor damage by 1
accident_df['Plane Damage Score'] = 1 - (accident_df['Aircraft Damage'] / 4)

In [30]:
#Assigned an overall Safety Score to each data point
accident_df['Safety Score'] = 1 * accident_df['Investigation Type Score'] * accident_df['Fatality Injury Score'] * accident_df['Plane Damage Score']

In [31]:
#Combined as many of the same Makes as we saw
accident_df['Make'].replace('IAI', 'ISRAELAIRCRAFTINDUSTRIES', inplace = True)
accident_df['Make'].replace('AEROTEK', 'AEROTEKAVIAT', inplace = True)
accident_df['Make'].replace('AEROTEKINC', 'AEROTEKAVIAT', inplace = True)
accident_df['Make'].replace('AVIAT', 'AEROTEKAVIAT', inplace = True)
accident_df['Make'].replace('AVIATAIRCRAFTINC', 'AEROTEKAVIAT', inplace = True)
accident_df['Make'].replace('AVIATINC', 'AEROTEKAVIAT', inplace = True)
accident_df['Make'].replace('AVIATAIRCRAFT', 'AEROTEKAVIAT', inplace = True)

In [34]:
print(accident_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15781 entries, 32592 to 88886
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Investigation Type        15781 non-null  object
 1   Accident Number           15781 non-null  object
 2   Event Date                15781 non-null  datetime64[ns]
 3   Location                  15781 non-null  object
 4   Aircraft Damage           15781 non-null  float64
 5   Make                      15781 non-null  object
 6   Model                     15781 non-null  object
 7   Number Of Engines         15781 non-null  float64
 8   Engine Type               14418 non-null  object
 9   Far Description           15781 non-null  object
 10  Total Fatal Injuries      15781 non-null  float64
 11  Total Serious Injuries    15781 non-null  float64
 12  Total Minor Injuries      15781 non-null  float64
 13  Total Uninjured           15781 non-null  float64
 14  Report Status             14134 non-null  object
 15  Total Passengers          15781 non-null  float64
 16  Investigation Type Score  15781 non-null  float64
 17  Fatality Injury Score     15781 non-null  float64
 18  Plane Damage Score        15781 non-null  float64
 19  Safety Score              15781 non-null  float64
dtypes: datetime64[ns](1), float64(11), object(8)
memory usage: 2.5+ MB
None

In [37]:
accident_df.columns

Index(['Investigation Type', 'Accident Number', 'Event Date', 'Location',
       'Aircraft Damage', 'Make', 'Model', 'Number Of Engines', 'Engine Type',
       'Far Description', 'Total Fatal Injuries', 'Total Serious Injuries',
       'Total Minor Injuries', 'Total Uninjured', 'Report Status',
       'Total Passengers', 'Investigation Type Score', 'Fatality Injury Score',
       'Plane Damage Score', 'Safety Score'],
      dtype='object')

In [38]:
accident_df.to_csv('cleaned_accident_data.csv', index=False)